<h1>Chirps</h1>
<ul>
    <% @chirps.reverse.each do |chirp| %>
      <li>
      <span>
        <%= chirp.id %> -- <%= chirp.text.upcase %>
      </span>
      <span>
        <%= chirp.votes.count %>
      </span>
      <span>
        <%= link_to "**UPVOTE**", "/chirps/#{chirp[:id]}/upvote", method: :post %>
      </span>
      </li>
    <% end %>
</ul>
