<section class="chirps">
  <h1>Chirps</h1>
  <ul>
    <% @chirps.reverse.each do |chirp| %>
      <li>
        <span>
          <%= chirp[:id] %> -- <%= chirp[:text].to_s.upcase %>
        </span>
        <span>
          <%= chirp.votes.count %>
        </span>
        <span>
          <%= link_to raw("&#8593;"), "/chirps/#{chirp[:id]}/upvote", method: :post %>
        </span>
      </li>
    <% end %>
  </ul>
</section>