// Place all the styles related to the chirps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.chirps {
  width: 80%;
  max-width: 800px;
  margin: auto;

  h1 {
    text-align: center;
    margin: 2rem auto;
  }

  li {
    list-style: none;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 8px gray;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
  }
}
